@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1200px;
}

* {
  font-family: "Lexend", sans-serif;
}

/* Conatain */
.contain {
  width: 1185px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1205px) {
  .contain {
    width: 960px;
  }
}

@media (max-width: 992px) {
  .contain {
    width: 720px;
  }
}

@media (max-width: 768px) {
  .contain {
    width: 540px;
  }
}

@media (max-width: 576px) {
  .contain {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}
/* End Conatain */

/* Header Menu */
.menu > ul {
  display: flex;
  gap: 30px;
}

.menu > ul > li {
  display: flex;
  gap: 8px;
  align-items: center;
  position: relative;
}

.menu > ul > li > a {
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.menu > ul > li > svg {
  color: white;
  width: 14px;
}

.menu > ul > li ul {
  width: 280px;
  position: absolute;
  background-color: #000065;
  border-radius: 4px;
  display: none;
}

.menu > ul > li > ul {
  top: 100%;
  left: 0;
}

.menu > ul > li:hover > ul {
  display: block;
}

.menu > ul > li ul li {
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu > ul > li ul li:hover {
  background-color: #000096;
}

.menu > ul > li ul li a {
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.menu > ul > li ul li svg {
  color: white;
  width: 10px;
}

.menu > ul > li > ul > li > ul {
  top: 0;
  left: 100%;
}

.menu > ul > li > ul > li:hover > ul {
  display: block;
}

@media (max-width: 992px) {
  .menu {
    display: none;
  }

  .menu.show {
    display: block;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000065;
    z-index: 9999;
  }

  .menu > ul {
    flex-direction: column;
    gap: 0;
    padding: 10px 0;
  }

  .menu > ul > li {
    justify-content: space-between;
    border-bottom: 1px solid #4949e6;
    padding: 10px;
    flex-wrap: wrap;
  }

  .menu > ul > li > a {
    font-size: 14px;
  }

  .menu > ul > li ul {
    position: static;
    width: 100%;
  }

  .menu > ul > li ul li {
    flex-wrap: wrap;
  }

  .menu > ul > li ul li a {
    font-size: 14px;
  }
}
/* End Header Menu */